# LaTeX Build Files
*.aux
*.log
*.dvi
*.toc
*.bbl
*.bcf
*.blg
*.run.xml
*.fdb_latexmk
*.fls
*-SAVE-ERROR

# Output Files
# If you want to see the output files in the remote repository, please run the CI pipeline.
outputs/*
