stages:
  - compile

platex:
  image: paperist/texlive-ja:latest
  stage: compile
  rules:
    - changes:
        - "**/*.tex"
        - "**/*.sty"
        - "**/*.bbx"
        - "**/*.bib"
        - ".gitlab-ci.yml"
      when: on_success
    - when: never
  script:
    - FILES=$(find . -name "*.tex")
    - if [ ! -n "$FILES" ]; then
        echo "No tex file found. Compile skipping...";
        exit 0;
      fi
    - tlmgr install latexmk biblatex biber
    - latexmk -pdfdvi -interaction=nonstopmode -shell-escape main.tex
    - latexmk -c main.tex
  artifacts:
    paths:
      - "*.pdf"
    expire_in: 1 week
